<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>ACEest Fitness</title>
    <style>
        body {
            background-color: #111;
            color: white;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
        h1 { color: gold; }
        .box {
            border: 1px solid gray;
            margin: 20px auto;
            padding: 20px;
            width: 60%;
        }
    </style>
</head>
<body>

<h1>ACEest FITNESS SYSTEM 💪</h1>

<div class="box">
    <h2>Workout Plan</h2>
    <p>Squats, Bench, Deadlift</p>
</div>

<div class="box">
    <h2>Nutrition</h2>
    <p>Protein-rich diet</p>
</div>

<p>🚀 DevOps Pipeline Working</p>

</body>
</html>